.App {
    text-align: center;
    .COOL {
        font-size: 12px;
    }
    &.container {
        margin-top: 30px;
    }
    .title-page {
        color: #777;
        padding: 25px 0px;
        display: flex;
        justify-content: space-between;
    }
    .list-group-item {
        cursor: pointer;
    }

    .card-details {
        padding: 25px 0px;
    }
    &.card {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    }
}
